@model MvcApplication1.Models.FeaturedItemsModel

@{
    ViewBag.Title = "Home Page";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p>
                To learn more about the code please visit 
                <a href="https://github.com/sglazer/SOADemo.git" title="ASP.NET MVC Website">The Git Hub Repo</a>
            </p>
        </div>
    </section>
}

<ol class="round">
    <li class="one">
        <h5>Featured Item Widget</h5>
        The list below is utilizing the existing featured items widget of the common platform. Specifically:<br>
        1) API Url: api.slice.dev.smdg.ca <br>
        2) Version: latest <br>
        3) Endpoint Url: api.slice.dev.smdg.ca/latest/featureditems/311 <br>


        
    </li>
</ol>

 <ul>
        @if (Model.EditorsPicks.Items != null)
        {
            int count = 0;
            foreach (var item in Model.EditorsPicks.Items)
            {
               
                <li class="featuredBlog-listItem">
                    <div>
                        <a href="@item.TitleLink.Href" title="@item.TitleLink.Text">
                            <img src="@Html.FullImageUrl(item.ThumbnailURL)" alt="@item.TitleLink.Text" title="@item.TitleLink.Text" class="lazy" />
                            
                        </a>
                        <h3><a href="@item.TitleLink.Href" title="@item.TitleLink.Text">@item.TitleLink.Text</a></h3>
                    </div>
                </li>            
            }
        }
    </ul>

    <style type="text/css">
        .featuredBlog-listItem h3 a {
            color: #404040;
            font-family: "proxima-nova-n7","proxima-nova",sans-serif;
            font-style: normal;
            font-weight: 600;
        }

        menu, ol, ul {
            list-style: none outside none;
             padding: 0 0 0 40px;
        }


    </style>